<h2>Select Payment</h2>

<form asp-controller="Payment" asp-action="Pay" method="post">
    <select name="method">
        <option value="MOMO">Momo</option>
        <option value="VNPAY">VNPay</option>
        <option value="PAYPAL">PayPal</option>
        <option value="APPLE">Apple Pay</option>
        <option value="CASH">Cash</option>
    </select>

    <input name="amount" placeholder="Amount" />
    <button type="submit">Pay</button>
</form>