@{
    Layout = "_Layout";
}

<div class="container text-center py-5">
    <div class="card shadow-lg p-5 border-0 rounded-4">
        <h2 class="fw-bold">Passport Under Review</h2>

        <p class="text-muted mt-3">
            Your passport is being verified by our admin team.
        </p>

        <div class="spinner-border text-primary mt-4"></div>

        <p class="mt-4 small text-muted">
            You will be able to rent bikes after approval.
        </p>
    </div>
</div>