@model SaigonRideProject.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header bg-success text-white">
        Create User
    </div>

    <div class="card-body">
        <form method="post">

            <div class="mb-3">
                <label>Full Name</label>
                <input name="FullName" class="form-control" required />
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input name="Email" type="email" class="form-control" required />
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input name="password" type="password" class="form-control" required />
            </div>

            <div class="mb-3">
                <label>User Type</label>
                <select name="UserType" class="form-select">
                    <option value="Local">Local</option>
                    <option value="Tourist">Tourist</option>
                </select>
            </div>

            <button class="btn btn-success">Create</button>
            <a href="/AdminUser" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
</div>