@{
    Layout = "_Layout";
}

<h2>Who you are</h2>

<form method="post">

    <button name="userType" value="Local" class="btn btn-primary">
        Local User
    </button>

    <button name="userType" value="Tourist" class="btn btn-dark">
        Tourist
    </button>

</form>

<a href="/Account/Login">Already have an account? Log in</a>