<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">
            <h3>Verify OTP</h3>

            @if (TempData["OTP"] != null)
            {
                <div class="alert alert-info">
                    Demo OTP: @TempData["OTP"]
                </div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form method="post">
                <div class="mb-3">
                    <label>Enter OTP</label>
                    <input type="text" name="otpCode" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary">
                    Verify
                </button>
            </form>
        </div>
    </div>
</div>