@model List<SaigonRideProject.Models.User>

<h2>Passport Requests</h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Passport</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.FullName</td>
            <td>@u.Email</td>
            <td>@u.PassportNumber</td>
            <td>@u.PassportStatus</td>
            <td>
                <a href="/Admin/Approve/@u.Id" class="btn btn-success btn-sm">Approve</a>
                <a href="/Admin/Reject/@u.Id" class="btn btn-danger btn-sm">Reject</a>
            </td>
        </tr>
    }
</table>