<h2>Welcome to SaigonRide 🚲</h2>

<div class="row mt-4">

    <div class="col-md-4">
        <a href="/Rental/StationList" class="btn btn-outline-primary w-100">
            Find Stations
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Rental/Current" class="btn btn-outline-success w-100">
            My Trip
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Rental/History" class="btn btn-outline-dark w-100">
            History
        </a>
    </div>

</div>