@model SaigonRideProject.ViewModels.AdminStationViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-4">

    <h3 class="mb-4"> + Create Station</h3>

    <form method="post" class="card p-4 shadow-sm rounded-4">

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Capacity</label>
            <input asp-for="Capacity" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Latitude</label>
            <input asp-for="Latitude" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Longitude</label>
            <input asp-for="Longitude" class="form-control" />
        </div>

        <button class="btn btn-success">Save</button>

    </form>
</div>