@model SaigonRideProject.ViewModels.AdminStationViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container py-4">

    <div class="alert alert-danger rounded-4">
        ⚠️ Are you sure you want to delete this station?
    </div>

    <ul>
        <li>@Model.Name</li>
        <li>@Model.Address</li>
    </ul>

    <form method="post">
        <input type="hidden" asp-for="Id" />

        <button class="btn btn-danger">Delete</button>
        <a class="btn btn-secondary" href="/AdminStation">Cancel</a>
    </form>

</div>